{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Mi tienda{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <a href="/" class="logo">Mi tienda</a>
    </div>
    <div id="subheader">
      <div class="carro">
        {% with total_items=carro|length %}
          {% if total_items > 0 %}
            Tu carro de compras:
            <a href="{% url "carro:detalle_carro" %}">
              {{ total_items }} item{{ total_items|pluralize }},
              ${{ carro.obtiene_precio_total }}
            </a>
          {% elif not order %}
            Tu carro de compras esta vacio
          {% endif %}
        {% endwith %}
      </div>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>